/* div {
  -ms-overflow-style: none;
}
div::-webkit-scrollbar {
  display: none;
} */
/* Pagination buttons */


/* Background */
.background-container {
  background-image: linear-gradient(to top, #55596f, #303343, #272938);
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  min-height: 100%;
}

/* chart */
.main-content-wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
}
.chart-row {
  background-color: #191927;
  border-radius: 1%;
  margin: 2%
}

