/* transaction list */
.transaction-list-wrapper {
    background-color: #191927;
    border-radius: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
  
  
  .transaction-li {
    color: #48c0c0;
    justify-content: center;
  
  }
  .transaction-list {
    
    list-style-type: none;
    padding: 3% 3%;
  
  }
  .list-title {
    text-align: center;
    padding-top: 3%;
    color: #48c0c0;
    /* text-decoration: underline #48c0c0; */
  }
  .transaction-list-items {
    padding: 3%;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: "center";
    color: #48c0c0;
  }

  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    
  }
  .pagination-buttons {
    color:#48c0c0;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 4px;
    border: 1px solid#48c0c0;
    margin-right: 0.5%;
    background-color: transparent;
  }
  
  .pagination button:hover:not(.active) {
    border-color:#edf5e1;
    color: #edf5e1;
  }
  .pagination button:active {
    background-color: #05386b;
    color: #edf5e1;
  }
  .pagination-wrapper {
    text-align: center;
  }